Update pimd to RFC4601

Currently pimd implements RFC2362, which is a previous PIM-SM experimental RFC, plus some changes from early drafts of RFC4601.

All new implementations following RFC4601 should be backwards compatible.  This issue has been filed as a reminder to start working out differences and iron out TODOs to reach full RFC4601 compliance.

For details See http://datatracker.ietf.org/doc/rfc4601/ and complementary RFC5059 and RFC5796.


With the recent merge of the pull request for PIM-SSM and IGMPv3 support, and the fix for #5,
this issue is nearing completion.  

Anyone interested may want to test the upcoming pimd v2.3.0 and see if it holds up to RFC4601.